# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
venv/
env/

# Node
node_modules/
npm-debug.log*

# Build
build/
dist/

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
